# dependencies (bun install)
node_modules

# build output
*.tgz
.output
.nitro
.wrangler
.tanstack
.source
*.gen.ts

# dotenv environment variable files
.env*
*.local
*.lcov
*.log
coverage
logs
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# caches
.cache
*.tsbuildinfo
